# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.log

# Android
app/android/.gradle/
app/android/app/build/
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
